<div class="ui center aligned container">
    <h1>
        <i class="comments icon" id="mainIcon"></i>
    </h1>
    <h2>Welcom to MessageMe - simple chat app</h2>
</div>
<div class="ui center aligned container" id="loginBox">
    <%= render "session/loginBox" %>
</div>