body{
    background-color: rgb(253, 249, 239);
}

#mainIcon {
    font-size: 100px;
    padding-top: 50px;
}


#mainContainer {
  min-height: 60vh
}
#messageContainer {
  display: flex;
  flex-direction: column;
  
}

#messageArea {
    flex-grow: 1;
    background-color: rgba(73, 73, 73, 0.05);
    padding: 10px;
    border-radius: 5px;
}


#sendBtn {
    padding: 10px;
}

#userArea {
    height:60vh;
    overflow-y: auto;
    
}

#loginBox {
    padding: 20px;
}